@{
    ViewData["Title"] = "PreviewPassword";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container">
    <section id="preview">
        <div class="page-header">
            <h1>Secret</h1>
        </div>
        <p class="lead">You can only reveal this secret once!</p>
        <div class="row">
            <div class="col-sm-6 margin-bottom-10">
                <button id="revealSecret" type="button" class="btn-lg btn-primary">Reveal secret</button>
            </div>
        </div>
    </section>
</div>
<script src="~/js/preview.js"></script>

